/* code written by @mxbialostocki // www.mattbialostocki.com */
/* Ragged Robin text written by Toyah Webb */
html {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  background-color: black;
  color: white;
}
@font-face {
  font-family: 'IBM Plex Mono', monospace;
  src: url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,400,500,600,700");
}
.container980 {
  max-width: 980px;
  margin: 0 auto;
}
.container980 .actii {
  border-left: .5px solid rgb(255,255,255);
  border-right: .5px solid rgb(255,255,255);
}
/* typography */
h1 {
  font-size: 4rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 1rem 0;
}
.acti h2 {
  padding-top: 0;
}
h3 {
  text-align: center;
}
h4,
p {
  text-align: left;
  padding: 0.5rem 0rem;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
a {
  text-decoration: none;
  color: inherit;
}
h5 {
  text-transform: uppercase;
}

/* header */

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 3rem;
}
.cheeks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.cheek {
  display: block;
  background: black;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin: 0 2rem;
  background: radial-gradient(circle at 4rem 4rem, rgb(255,0,0), rgb(139,0,0));
}
.rrpoemi {
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
}

.acti,
.actii,
.actiii,
.activ {
  padding: 3rem 5rem;
  margin-top: 2rem;
}

/* acti II doubleye */

.acti p {
  z-index: 1;
  opacity: 0.1;
  top: -100%;
  overflow: hidden;
  color: white;
  background: -webkit-linear-gradient(rgb(255,255,255), rgb(255,255,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.acti p:hover {
  transform: top 400ms 4s ease-in-out;
  top: 0;
  opacity: 1;
  color: red;
  background: -webkit-linear-gradient(rgb(255,0,0), rgb(50,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.acti span {
  opacity: 0.1;
  color: white;
  background: -webkit-linear-gradient(rgb(255,255,255), rgb(255,255,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-weight: normal;
}
.acti span:hover {
  opacity: 1;
  color: red;
  background: -webkit-linear-gradient(rgb(255,0,0), rgb(50,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}

.actilines {
  height: 4rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  max-width: 100%;
}

/* actii OOO Tripleoh */
.actii {
  height: 42rem;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  margin: 2rem auto;
  color: rgb(255,255,255);
  font-weight: lighter;
  line-height: 1.2;
}
.actii h2 {
  padding-top: 2rem;
}
.actii h5 span.small {
  font-size: 1rem;
}
.actii h5 span.medium {
  font-size: 1.5rem;
}
.actii h5 span.large {
  font-size: 2rem;
}
.actii h5 span.xlarge {
  font-size: 2.5rem;
}
.actii h3 {
  font-size: 2rem;
  font-weight: bold;
}
.actii h4 span,
.actii p span {
  background: -webkit-linear-gradient(rgb(255,255,255), rgb(255,255,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-weight: normal;
}
.actii h4 span:hover,
.actii p span:hover {
  background: -webkit-linear-gradient(rgb(255,255,255), rgb(255,255,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}
/* actiii Dectasee */
.actiii {
  line-height: 2.2rem;
  font-size: 1.1rem;
  letter-spacing: 1.4rem;
}
.actiii h2 {
  letter-spacing: 0;
}
.priestess .right {
  font-size: 2rem;
}
.priestess h3 {
  font-size: 1rem;
  letter-spacing: 0rem;
}
.innerchurch {
  letter-spacing: 1rem;
}
.outerchurch {
  color: red;
}
.rrpoemi .dec {
  text-align: right;
  font-size: 1.6rem;
  letter-spacing: 2rem;
}
/* activ totep */
.activ {
  padding-bottom: 2rem;
  line-height: 1.4rem;
  font-size: 1.1rem;
}
.activ h2 {
  padding-bottom: 2rem;
}
.activ span {
  z-index: 1;
  opacity: 0.1;
  top: -100%;
  overflow: hidden;
  color: white;
  font-size: 1rem;
}
.activ span:hover {
  transform: all 1200ms 1200ms ease-in-out;
  top: 0;
  opacity: 1;
  color: red;
  font-size: 1.3rem;
}
