/* code written by @mxbialostocki // www.mattbialostocki.com */
/* Ragged Robin text written by Toyah Webb */
html {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  background-color: black;
  color: white;
}
@font-face {
  font-family: 'IBM Plex Mono', monospace;
  src: url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,400,500,600,700")
}
.container960 {
  max-width: 960px;
  margin: 0 auto;
}
.container960 .acti {
  border-left: .5px solid rgb(255,255,255);
  border-right: .5px solid rgb(255,255,255);
}
h1 {
  font-size: 4rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 1rem 0;
}
h3 {
  text-align: center;
}
h4,
p {
  text-align: left;
  padding: 0.5rem 0rem;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 3rem;
}
.cheeks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.cheek {
  display: block;
  background: black;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin: 0 2rem;
  background: radial-gradient(circle at 5rem 5rem, rgb(255,0,0), rgb(139,0,0));
}
.rrpoem {
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
}

.acti,
.actii,
.actiii {
  padding: 3rem 5rem;
}
.acti p {
  z-index: 1;
  opacity: 0.1;
  top: -100%;
  overflow: hidden;
  color: white;
  background: -webkit-linear-gradient(rgb(255,255,255), rgb(255,255,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.acti p:hover {
  transform: top 400ms 4s ease-in-out;
  top: 0;
  opacity: 1;
  color: red;
  background: -webkit-linear-gradient(rgb(255,0,0), rgb(50,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.activ span {
  z-index: 1;
  opacity: 0.1;
  top: -100%;
  overflow: hidden;
  color: white;
  font-size: 1rem;
}
.activ span:hover {
  transform: all 1200ms 1200ms ease-in-out;
  top: 0;
  opacity: 1;
  color: red;
  font-size: 1.2rem;
}
/* v v specific span styles */
.acti span {
  opacity: 0.1;
  color: white;
  background: -webkit-linear-gradient(rgb(255,255,255), rgb(255,255,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-weight: normal;
}
.acti span:hover {
  opacity: 1;
  color: red;
  background: -webkit-linear-gradient(rgb(255,0,0), rgb(50,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}

.actilines {
  height: 4rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  max-width: 100%;
}
